// Base
$page-padding:							15px;
$page-background:						rgb(197, 197, 197);
$content-color:							rgb(63, 34, 27);
$navigation-background:					rgb(126, 0, 93);
$content-side-padding:					20px;
$navigation-color:						white;
$text-color:							white;
$link-hover-color:						#fcc;

// https://github.com/ianrose/typesettings
$base-vertical-unit: 					5px;
$base-line-multi: 						4;
$base-font-size: 						11px;
$ms-ratio: 								1.2;


// Responsive
// ----
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// http://sassmeister.com/gist/0614ac3971ae82925ef4
//
// Using em's in case the page get's zoomed in
// ----

$screen:       "only screen and";
$breakpoints: (
  'small'  		: '#{$screen} ( max-width: 320px )',
  'medium'  	: '#{$screen} ( min-width: 321px )  and ( max-width: 69.999em )',
  'large' 		: '#{$screen} ( min-width: 70em ) '
);