.content{

	&.home{
		.main__content{
			padding: 0;

			.picture{
				
				img{
					width: 100% !important;
					height: auto !important;
				}

				.picture__caption{
					display: none;
				}
			}

		}
	}

	&.contact{

		.main__content{
			padding: 0;
			overflow: hidden;
		}

		.section{
			&.address{
				float: left;
				width: 35%;
				padding: $content-side-padding;
			}

			&.image{
				float: right;
				width: 60%;
				
				.picture{
					display: block  !important;
					width: 100% !important;

					img{
						width: 100% !important;
						height: auto !important;
					}

					.picture__caption{
						display: none;
					}
				}
			}
		}
	}

}

@include respond-to(small) {
	.content{

		&.contact{
			.section{

				&.address{
					width: 100%;
				}

				&.image{
					display: none;
				}
			}
		}
	}
}