.content{

	&.home{
		.main__content{
			padding: 0;

			img{
				width: 100%;
			}
		}
	}

	&.contact{

		.main__content{
			padding: 0;
			overflow: hidden;
		}

		.section{
			&.address{
				float: left;
				width: 35%;
				padding: $content-side-padding;
			}

			&.image{
				float: right;
				width: 60%;
				img{
					width: 100%;
				}
			}
		}
	}

}

@include respond-to(small) {
	.content{

		&.contact{
			.section{

				&.address{
					width: 100%;
				}

				&.image{
					display: none;
				}
			}
		}
	}
}