.navigation{
	li{
		position: relative;
		margin: 0.2em 0;

		&.active{
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				bottom: -8px;
				left: 0;
				position: absolute;
				background:	#7e005d;
			}
		}
	}
}

.home,
.contact{
	 .navigation li.active{
		&.active{
			&:before{
				background:	white;
			}
		}
	}
}