.navigation{
	li{
		position: relative;
		&.active{
			&:before{
				content: '';
				display: block;
				width: 0.5em;
				height: 0.5em;
				background: white;
				position: absolute;
				right: 100%;
				top: 50%;
				margin-top: -0.25em;
				margin-right: 0.5em;
			}
		}
	}
}