$nav-arrow-size: 45px;

.collection-slide{
	position: relative;

	a{
		display: block;
		text-decoration: none;
		color: inherit;
	}

	.picture{
		display: inline-block;
		width: 100%;
	}

	img{
		width: 100%;
	}

	.collection-slide__nav{
	}

	.collection-slide__previous,
	.collection-slide__forward{
		position: absolute;
		width: $nav-arrow-size;
		height: $nav-arrow-size;
		top: 50%;
		margin-top: -($nav-arrow-size / 2);
		opacity: 0.2;
		cursor: pointer;
		transition: opacity 0.5s;
		z-index: 1;

		&:hover{
			opacity: 1;
		}
	}

	.collection-slide__previous{
		background-image: url('../images/assets/previous.png');
		background-position: 50% 50%;
		right: 100%;
		margin-right: 10px;
	}

	.collection-slide__forward{
		background-image: url('../images/assets/forward.png');
		background-position: 50% 50%;
		left: 100%;
		margin-left: 10px;
	}
}