.navigation{
	background-color: $navigation-background;
	color: $navigation-color;
	padding: 0 $content-side-padding;

	ul{
		@include justified-layout();
	}

	li{
		font-size: 13px;
		vertical-align: bottom;
	}

	a{
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		color: inherit;

		&:hover{
			color: $link-hover-color;
		}
	}
}