.text{
	position: relative;

	h1,
	h2,
	h3{

		margin: $content-side-padding * 2 0 $content-side-padding 0;
		text-transform: uppercase;

		&:first-child{
			margin-top: 0;
		}

		> small{
			display: inline-block;
			font-weight: normal;
			text-transform: none;
		}
	}

	p{

		> img{
			margin: 0 $content-side-padding 0 0;
			float: left;
		}
	}


	.language-switch{
		position: absolute;
		top:  $content-side-padding;
		right:  $content-side-padding;
		color: inherit;
		text-decoration: none;
		&:hover{
			color: white;
		}
	}
}