<nav class='navigation'>
  <ul>
  	<li>
  		<a href='/'>Home</a>
  	</li>
  	 <li>
  		<a href='stillevens.html'>Stillevens</a>
  	</li>
  	<li>
  		<a href='portretten.html'>Portretten</a>
  	</li>
  	<li>
  		<a href='diversen.html'>Diversen</a>
  	</li>
  	<li>
  		<a href='tentoonstellingen.html'>Tentoonstellingen</a>
  	</li>
  	<li>
  		<a href='contact.html'>Content</a>
  	</li>
  </ul>
</nav>